body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.h2 {
    color: #000000;
}

.chat-container {
    width: 750px;
    height: 80vh;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
    font-size: 1.2rem;
    position: relative;
    min-width: 380px;
}

.messages-container {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #e5ddd5;
    border-radius: 10px;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-message {
    align-self: flex-end;
    max-width: 70%;
    background-color: #dcf8c6;
    color: #000000;
    padding: 15px;
    border-radius: 15px 15px 0 15px;
    font-size: 1.2rem;
    line-height: 1.6;
    word-wrap: break-word;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.ai-message {
    align-self: flex-start;
    max-width: 70%;
    background-color: #ffffff;
    color: #000000;
    padding: 15px;
    border-radius: 15px 15px 15px 0;
    font-size: 1.2rem;
    line-height: 1.6;
    word-wrap: break-word;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #000000;

    background-color: #f0f0f0;
    border-top: 1px solid #ddd;
    border-radius: 0 0 20px 20px;
    gap: 15px;
    width: 100%;
    box-sizing: border-box;
}

.input-section input {
    width: 80%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 25px;
    outline: none;
    color: #000000;

    font-size: 1.4rem;
    background-color: #f7f7f7;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

.input-section input:focus {
    border-color: #25d366;
}

.input-section button {
    width: 80%;
    background-color: #dcf8c6;
    color: #000000;
    padding: 15px;
    border: none;
    border-radius: 25px;
    font-size: 1.4rem;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.input-section button:hover {
    background-color: #cdeec0;
}
